body {
  margin: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
  overflow: scroll;
    background-color: white;
}


.nav-test {
    background-color: black !important;
    border: white !important;
}



.logo {
height: 140px !important;
    width:150px;
    padding-top: 0px !important;
    padding-bottom: 8px;
}

.navbar-nav li a {
    font-family: 'Century Gothic', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 50;
    height: 40px;
    margin-top: 10px;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: floralwhite !important;
    padding-top: 50px;
}

.nav-test a:hover {
  color: darkgoldenrod !important;
    text-decoration: none;

}

html, body {
  height: 100%;
  width: 100%;
}








/* slideshow start */

.slider {
  max-width: 300px;
  height: 200px;
  margin: 20px auto;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5,.slide6,.slide7 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(Homepage1.jpg)no-repeat center;
      background-size: cover;
    animation:fade 4s infinite;
-webkit-animation:fade 4s infinite;

} 
.slide2 {
  background: url(Homepage2.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    background: url(Homepage3.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 12s infinite;
-webkit-animation:fade3 12s infinite;
}
.slide4 {
  background: url(Homepage4.jpg)no-repeat center;
      background-size: cover;
    animation:fade4 16s infinite;
-webkit-animation:fade4 16s infinite;

} 
.slide5 {
  background: url(Homepage5.jpg)no-repeat center;
      background-size: cover;
    animation:fade5 20s infinite;
-webkit-animation:fade5 20s infinite;
}
.slide6 {
    background: url(Homepage6.jpg)no-repeat center;
      background-size: cover;
    animation:fade6 24s infinite;
-webkit-animation:fade6 24s infinite;
}
.slide7 {
    background: url(Homepage7.jpg)no-repeat center;
      background-size: cover;
    animation:fade7 28s infinite;
-webkit-animation:fade7 28s infinite;
}


@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade5
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
@keyframes fade6
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fade7
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0}
  100% { opacity: 1}
}


    
/* slideshow end */



    .sticky-bar {
background: rgba(0, 0, 0, 0.7);

bottom: 0;
color: #fff;
font-weight: 700;
left:0;
margin: 0;
opacity: 0.9;
padding: 0;
position:fixed;
        height: 35px;
width: 100%;
z-index:99999;
}

.sticky-bar-inner {
margin:0 auto;
padding: 2px 0;
text-align: right;
width:90%;
}
   
    #footerlist li
{
  display: inline;
    margin-right: 10px;
  list-style-type: none;
    
}
    
    #address {
        font-family: 'Century Gothic', sans-serif;
        color: floralwhite;
        text-decoration: none;
        font-weight: 100;
        font-size: 12;
        text-transform: uppercase;
    letter-spacing: .04em;
        float: left;
        padding-top: 6px;
    }
    
    

    
    
    