/*top nav bar*/

body {
  margin: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
  overflow: scroll;
    background-color: floralwhite;
}


.nav-test {
    background-color: black !important;
    border: white !important;
}



.logo {
height: 140px !important;
    width:150px;
    padding-top: 0px !important;
    padding-bottom: 8px;
}

.navbar-nav li a {
    font-family: 'Century Gothic', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 50;
    height: 40px;
    margin-top: 10px;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: floralwhite !important;
    padding-top: 50px;
}

.nav-test a:hover {
  color: darkgoldenrod !important;
    text-decoration: none;

}

html, body {
  height: 100%;
  width: 100%;
}

/* top nav end*/


body { 
			background-image: url(flowerlayer.jpg) ;
			background-position: top;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
  
}

div, body{
  margin: 0;
  padding: 0;
  
}
.wrapper {

  width: 100%; 
}



/*gallery styling*/

.desc {
    color: floralwhite;
    font-family: 'Century Gothic', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: black;
     
}

div.img {
    border: 15px;
    margin-top: 20px;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

div.img:hover {
    border-bottom: 2px solid darkgoldenrod;
   
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 0px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 5px;
    float: left;
    width: 33.3333%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*gallery styling end*/




/*sticky bar*/




    
    
    .sticky-bar {
background: rgba(0, 0, 0, 0.7);

bottom: 0;
color: #fff;
font-weight: 700;
left:0;
margin: 0;
opacity: 0.9;
padding: 0;
position:fixed;
        height: 35px;
width: 100%;
z-index:99999;
}

.sticky-bar-inner {
margin:0 auto;
padding: 2px 0;
text-align: right;
width:90%;
}
   
    #footerlist li
{
  display: inline;
    margin-right: 10px;
  list-style-type: none;
    
}
    
    #address {
     text-align: left;
        font-family: 'Century Gothic', sans-serif;
        color: floralwhite;
        text-decoration: none;
        font-weight: 100;
        font-size: 12;
    }
    

/*stick bar end*/